PORT=3000
APP_VERSION=dev
API_KEY=replace-me
DATABASE_URL=postgres://girke_api:girke_api@postgres:5432/girke_api
WHISPER_URL=http://whisper:8000
SENDER_API_TOKEN=replace-me
CONTACT_RECEIVING_EMAIL=studio@oonakokopelli.com
CONTACT_FROM_EMAIL=studio@oonakokopelli.com
SENDER_GROUP_ID=replace-me
POSTGRES_DB=girke_api
POSTGRES_USER=girke_api
POSTGRES_PASSWORD=replace-me
